/AdventOfCode6/nbproject/private/
/AdventOfCode6/build/
/AdventOfCode7/nbproject/private/
/AdventOfCode7/build/
/AdventOfCode8/nbproject/private/
/AdventOfCode8/build/

*.vsidx
*.vsidx
AdventOfCode4/.vs/AdventOfCode4/FileContentIndex/2cabf01a-c2d3-4584-99d5-fba78a02aa56.vsidx
